{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "TEHANDPlatformBundle::layout.html.twig" %}

{% block title %}
    Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block tehandplatform_body %}
    <div class="grid">
        <div class="row align-items-start">
            <div class="col-md-3">
                {% if adverts.image is not null %}
                    <img src="{{ adverts.image.url }}" style="width: 113%" alt="{{ adverts.image.alt }}">
                {% endif %}
            </div>
            <div class="col-md-9">
                <h2>{{ adverts.title }}</h2>
                <i>Par {{ adverts.author }}, le {{ adverts.date|date('d/m/Y') }}</i>
            </div>
        </div>
    </div> 


    <div class="well">
        {{ adverts.content }}
    </div>
    <h4><u>Liste Candidatures</u></h4>
            {% for listApplication in listApplications %}
                {% if listApplication %}
            <ul>
                <li>
                    <b>{{listApplication.author}}</b> :     °° <i>{{listApplication.content}}</i> °°
                </li>
            </ul>
        {% else %}
            <div class="well"> 
                <i>"Aucune candidatures pour l'instant pour cette annonce ..."</i> 
            </div>
        {% endif %}
    {% endfor %}
    <p>
        <a href="{{ path('tehan_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        <a href="{{ path('tehan_platform_edit', {'id': adverts.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier l'annonce
        </a>
        <a href="{{ path('tehan_platform_delete', {'id': adverts.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer l'annonce
        </a>
    </p>
{% endblock %}